    /*
    Flaticon icon font: Flaticon
    Creation date: 04/06/2019 09:54
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-theme:before { content: "\f100"; }
.flaticon-online-shop:before { content: "\f101"; }
.flaticon-laptop:before { content: "\f102"; }
.flaticon-megaphone:before { content: "\f103"; }
.flaticon-corporate-identity:before { content: "\f104"; }
.flaticon-direct-marketing:before { content: "\f105"; }
.flaticon-analytics:before { content: "\f106"; }
.flaticon-report:before { content: "\f107"; }
    
    $font-Flaticon-theme: "\f100";
    $font-Flaticon-online-shop: "\f101";
    $font-Flaticon-laptop: "\f102";
    $font-Flaticon-megaphone: "\f103";
    $font-Flaticon-corporate-identity: "\f104";
    $font-Flaticon-direct-marketing: "\f105";
    $font-Flaticon-analytics: "\f106";
    $font-Flaticon-report: "\f107";